---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Education from "@/components/Education.astro";
import Projects from "@/components/Projects.astro";
import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";

const { name, label } = basics;


---

<Layout title=`Porfolio de ${name} - ${label}`>
  <main>
    <Hero />
    <About />
    <div class="flex flex-row w-full px-5 py-5">
      <div class="w-1/2 text-center">
        <Skills />
      </div>
      <div class="w-1/2">
		<Education />
      </div>
    </div>
	<Experience />
   <!--  <Projects /> -->
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
