---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/About.astro';
import Experience from '@/components/Experience.astro';
import Education from '@/components/Education.astro';
import Projects from '@/components/Projects.astro';
import Hero from '@/components/Hero.astro';
import Skills from '@/components/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';

---

<Layout title="Porfolio.">
	<main>
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Education />
		<Projects />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
