---
import { basics } from "@cv";

const { summary } = basics;

---
<div class="px-5 py-5">
    <h2 class="font-black text-2xl text-left">About me </h2>
    <p class="text-base font-light">{summary}</p>
</div>